.color-aliceblue {
  color: AliceBlue;
}
.color-antiquewhite {
  color: AntiqueWhite;
}
.color-aqua {
  color: Aqua;
}
.color-aquamarine {
  color: Aquamarine;
}
.color-azure {
  color: Azure;
}
.color-beige {
  color: Beige;
}
.color-bisque {
  color: Bisque;
}
.color-black {
  color: Black;
}
.color-blanchedalmond {
  color: BlanchedAlmond;
}
.color-blue {
  color: Blue;
}
.color-blueviolet {
  color: BlueViolet;
}
.color-brown {
  color: Brown;
}
.color-burlywood {
  color: BurlyWood;
}
.color-cadetblue {
  color: CadetBlue;
}
.color-chartreuse {
  color: Chartreuse;
}
.color-chocolate {
  color: Chocolate;
}
.color-coral {
  color: Coral;
}
.color-cornflowerblue {
  color: CornflowerBlue;
}
.color-cornsilk {
  color: Cornsilk;
}
.color-crimson {
  color: Crimson;
}
.color-cyan {
  color: Cyan;
}
.color-darkblue {
  color: DarkBlue;
}
.color-darkcyan {
  color: DarkCyan;
}
.color-darkgoldenrod {
  color: DarkGoldenRod;
}
.color-darkgray {
  color: DarkGray;
}
.color-darkgrey {
  color: DarkGrey;
}
.color-darkgreen {
  color: DarkGreen;
}
.color-darkkhaki {
  color: DarkKhaki;
}
.color-darkmagenta {
  color: DarkMagenta;
}
.color-darkolivegreen {
  color: DarkOliveGreen;
}
.color-darkorange {
  color: DarkOrange;
}
.color-darkorchid {
  color: DarkOrchid;
}
.color-darkred {
  color: DarkRed;
}
.color-darksalmon {
  color: DarkSalmon;
}
.color-darkseagreen {
  color: DarkSeaGreen;
}
.color-darkslateblue {
  color: DarkSlateBlue;
}
.color-darkslategray {
  color: DarkSlateGray;
}
.color-darkslategrey {
  color: DarkSlateGrey;
}
.color-darkturquoise {
  color: DarkTurquoise;
}
.color-darkviolet {
  color: DarkViolet;
}
.color-deeppink {
  color: DeepPink;
}
.color-deepskyblue {
  color: DeepSkyBlue;
}
.color-dimgray {
  color: DimGray;
}
.color-dimgrey {
  color: DimGrey;
}
.color-dodgerblue {
  color: DodgerBlue;
}
.color-firebrick {
  color: FireBrick;
}
.color-floralwhite {
  color: FloralWhite;
}
.color-forestgreen {
  color: ForestGreen;
}
.color-fuchsia {
  color: Fuchsia;
}
.color-gainsboro {
  color: Gainsboro;
}
.color-ghostwhite {
  color: GhostWhite;
}
.color-gold {
  color: Gold;
}
.color-goldenrod {
  color: GoldenRod;
}
.color-gray {
  color: Gray;
}
.color-grey {
  color: Grey;
}
.color-green {
  color: Green;
}
.color-greenyellow {
  color: GreenYellow;
}
.color-honeydew {
  color: HoneyDew;
}
.color-hotpink {
  color: HotPink;
}
.color-indianred {
  color: IndianRed;
}
.color-indigo {
  color: Indigo;
}
.color-ivory {
  color: Ivory;
}
.color-khaki {
  color: Khaki;
}
.color-lavender {
  color: Lavender;
}
.color-lavenderblush {
  color: LavenderBlush;
}
.color-lawngreen {
  color: LawnGreen;
}
.color-lemonchiffon {
  color: LemonChiffon;
}
.color-lightblue {
  color: LightBlue;
}
.color-lightcoral {
  color: LightCoral;
}
.color-lightcyan {
  color: LightCyan;
}
.color-lightgoldenrodyellow {
  color: LightGoldenRodYellow;
}
.color-lightgray {
  color: LightGray;
}
.color-lightgrey {
  color: LightGrey;
}
.color-lightgreen {
  color: LightGreen;
}
.color-lightpink {
  color: LightPink;
}
.color-lightsalmon {
  color: LightSalmon;
}
.color-lightseagreen {
  color: LightSeaGreen;
}
.color-lightskyblue {
  color: LightSkyBlue;
}
.color-lightslategray {
  color: LightSlateGray;
}
.color-lightslategrey {
  color: LightSlateGrey;
}
.color-lightsteelblue {
  color: LightSteelBlue;
}
.color-lightyellow {
  color: LightYellow;
}
.color-lime {
  color: Lime;
}
.color-limegreen {
  color: LimeGreen;
}
.color-linen {
  color: Linen;
}
.color-magenta {
  color: Magenta;
}
.color-maroon {
  color: Maroon;
}
.color-mediumaquamarine {
  color: MediumAquaMarine;
}
.color-mediumblue {
  color: MediumBlue;
}
.color-mediumorchid {
  color: MediumOrchid;
}
.color-mediumpurple {
  color: MediumPurple;
}
.color-mediumseagreen {
  color: MediumSeaGreen;
}
.color-mediumslateblue {
  color: MediumSlateBlue;
}
.color-mediumspringgreen {
  color: MediumSpringGreen;
}
.color-mediumturquoise {
  color: MediumTurquoise;
}
.color-mediumvioletred {
  color: MediumVioletRed;
}
.color-midnightblue {
  color: MidnightBlue;
}
.color-mintcream {
  color: MintCream;
}
.color-mistyrose {
  color: MistyRose;
}
.color-moccasin {
  color: Moccasin;
}
.color-navywhite {
  color: NavajoWhite;
}
.color-navy {
  color: Navy;
}
.color-oldlace {
  color: OldLace;
}
.color-olive {
  color: Olive;
}
.color-olivedrab {
  color: OliveDrab;
}
.color-orange {
  color: Orange;
}
.color-orangered {
  color: OrangeRed;
}
.color-orchid {
  color: Orchid;
}
.color-palegoldenrod {
  color: PaleGoldenRod;
}
.color-palegreen {
  color: PaleGreen;
}
.color-paleturquoise {
  color: PaleTurquoise;
}
.color-palevioletred {
  color: PaleVioletRed;
}
.color-papayawhip {
  color: PapayaWhip;
}
.color-peachpuff {
  color: PeachPuff;
}
.color-peru {
  color: Peru;
}
.color-pink {
  color: Pink;
}
.color-plum {
  color: Plum;
}
.color-powderblue {
  color: PowderBlue;
}
.color-purple {
  color: Purple;
}
.color-rebeccapurple {
  color: RebeccaPurple;
}
.color-red {
  color: Red;
}
.color-rosybrown {
  color: RosyBrown;
}
.color-royalblue {
  color: RoyalBlue;
}
.color-saddlebrown {
  color: SaddleBrown;
}
.color-salmon {
  color: Salmon;
}
.color-sandybrown {
  color: SandyBrown;
}
.color-seagreen {
  color: SeaGreen;
}
.color-seashell {
  color: SeaShell;
}
.color-sienna {
  color: Sienna;
}
.color-silver {
  color: Silver;
}
.color-skyblue {
  color: SkyBlue;
}
.color-slateblue {
  color: SlateBlue;
}
.color-slategray {
  color: SlateGray;
}
.color-slategrey {
  color: SlateGrey;
}
.color-snow {
  color: Snow;
}
.color-springgreen {
  color: SpringGreen;
}
.color-steelblue {
  color: SteelBlue;
}
.color-tan {
  color: Tan;
}
.color-teal {
  color: Teal;
}
.color-thistle {
  color: Thistle;
}
.color-tomato {
  color: Tomato;
}
.color-turquoise {
  color: Turquoise;
}
.color-violet {
  color: Violet;
}
.color-wheat {
  color: Wheat;
}
.color-white {
  color: White;
}
.color-whitesmoke {
  color: WhiteSmoke;
}
.color-yellow {
  color: Yellow;
}
.color-yellowgreen {
  color: YellowGreen;
}
