.gap-0 {
  gap: 0px;
}
.gap-0x {
  column-gap: 0px;
}
.gap-0y {
  row-gap: 0px;
}
.gap-0_5 {
  gap: 0.125rem;
}
.gap-0_5x {
  column-gap: 0.125rem;
}
.gap-0_5y {
  row-gap: 0.125rem;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-1x {
  column-gap: 0.25rem;
}
.gap-1y {
  row-gap: 0.25rem;
}
.gap-1_5 {
  gap: 0.375rem;
}
.gap-1_5x {
  column-gap: 0.375rem;
}
.gap-1_5y {
  row-gap: 0.375rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2x {
  column-gap: 0.5rem;
}
.gap-2y {
  row-gap: 0.5rem;
}
.gap-2_5 {
  gap: 0.625rem;
}
.gap-2_5x {
  column-gap: 0.625rem;
}
.gap-2_5y {
  row-gap: 0.625rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-3x {
  column-gap: 0.75rem;
}
.gap-3y {
  row-gap: 0.75rem;
}
.gap-3_5 {
  gap: 0.875rem;
}
.gap-3_5x {
  column-gap: 0.875rem;
}
.gap-3_5y {
  row-gap: 0.875rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-4x {
  column-gap: 1rem;
}
.gap-4y {
  row-gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-5x {
  column-gap: 1.25rem;
}
.gap-5y {
  row-gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-6x {
  column-gap: 1.5rem;
}
.gap-6y {
  row-gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-7x {
  column-gap: 1.75rem;
}
.gap-7y {
  row-gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-8x {
  column-gap: 2rem;
}
.gap-8y {
  row-gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-9x {
  column-gap: 2.25rem;
}
.gap-9y {
  row-gap: 2.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-10x {
  column-gap: 2.5rem;
}
.gap-10y {
  row-gap: 2.5rem;
}
.gap-11 {
  gap: 2.75rem;
}
.gap-11x {
  column-gap: 2.75rem;
}
.gap-11y {
  row-gap: 2.75rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-12x {
  column-gap: 3rem;
}
.gap-12y {
  row-gap: 3rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-14x {
  column-gap: 3.5rem;
}
.gap-14y {
  row-gap: 3.5rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-16x {
  column-gap: 4rem;
}
.gap-16y {
  row-gap: 4rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-20x {
  column-gap: 5rem;
}
.gap-20y {
  row-gap: 5rem;
}
.gap-24 {
  gap: 6rem;
}
.gap-24x {
  column-gap: 6rem;
}
.gap-24y {
  row-gap: 6rem;
}
.gap-28 {
  gap: 7rem;
}
.gap-28x {
  column-gap: 7rem;
}
.gap-28y {
  row-gap: 7rem;
}
.gap-32 {
  gap: 8rem;
}
.gap-32x {
  column-gap: 8rem;
}
.gap-32y {
  row-gap: 8rem;
}
.gap-36 {
  gap: 9rem;
}
.gap-36x {
  column-gap: 9rem;
}
.gap-36y {
  row-gap: 9rem;
}
.gap-40 {
  gap: 10rem;
}
.gap-40x {
  column-gap: 10rem;
}
.gap-40y {
  row-gap: 10rem;
}
.gap-44 {
  gap: 11rem;
}
.gap-44x {
  column-gap: 11rem;
}
.gap-44y {
  row-gap: 11rem;
}
.gap-48 {
  gap: 12rem;
}
.gap-48x {
  column-gap: 12rem;
}
.gap-48y {
  row-gap: 12rem;
}
.gap-52 {
  gap: 13rem;
}
.gap-52x {
  column-gap: 13rem;
}
.gap-52y {
  row-gap: 13rem;
}
.gap-56 {
  gap: 14rem;
}
.gap-56x {
  column-gap: 14rem;
}
.gap-56y {
  row-gap: 14rem;
}
.gap-60 {
  gap: 15rem;
}
.gap-60x {
  column-gap: 15rem;
}
.gap-60y {
  row-gap: 15rem;
}
.gap-64 {
  gap: 16rem;
}
.gap-64x {
  column-gap: 16rem;
}
.gap-64y {
  row-gap: 16rem;
}
.gap-72 {
  gap: 18rem;
}
.gap-72x {
  column-gap: 18rem;
}
.gap-72y {
  row-gap: 18rem;
}
.gap-80 {
  gap: 20rem;
}
.gap-80x {
  column-gap: 20rem;
}
.gap-80y {
  row-gap: 20rem;
}
.gap-96 {
  gap: 24rem;
}
.gap-96x {
  column-gap: 24rem;
}
.gap-96y {
  row-gap: 24rem;
}
.gap-px {
  gap: 1px;
}
.gap-pxx {
  column-gap: 1px;
}
.gap-pxy {
  row-gap: 1px;
}
