.padding-0 {
  --size-0: 0; // 0px
	padding: var(--size-0);
}
.padding-0_5 {
  --size-0_5: 0.125rem; // 2px
	padding: var(--size-0_5);
}
.padding-1 {
	--size-1: 0.25rem; // 4px
  padding: var(--size-1);
}
.padding-1_5 {
  --size-1_5: 0.375rem; // 6px
	padding: var(--size-1_5);
}
.padding-2 {
  --size-2: 0.5rem; // 8px
	padding: var(--size-2);
}
.padding-2_5 {
  --size-2_5: 0.625rem; // 10px
	padding: var(--size-2_5);
}
.padding-3 {
  --size-3: 0.75rem; // 12px
	padding: var(--size-3);
}
.padding-3_5 {
	--size-3_5: 0.875rem; // 14px
  padding: var(--size-3_5);
}
.padding-4 {
  --size-4: 1rem; // 16px
	padding: var(--size-4);
}
.padding-5 {
	--size-5: 1.25rem; // 20px
  padding: var(--size-5);
}
.padding-6 {
	--size-6: 1.5rem; // 24px
  padding: var(--size-6);
}
.padding-7 {
	--size-7:  1.75rem; // 28px
  padding: var(--size-7);
}
.padding-8 {
	--size-8: 2rem; // 32px
  padding: var(--size-8);
}
.padding-9 {
	--size-9: 2.25rem; // 36px
  padding: var(--size-9);
}
.padding-10 {
	--size-10: 2.5rem; // 40px
  padding: var(--size-10);
}
.padding-11 {
	--size-11: 2.75rem; // 44px
  padding: var(--size-11);
}
.padding-12 {
	--size-12: 3rem; // 48px
  padding: var(--size-12);
}
.padding-14 {
	--size-14: 3.5rem; // 56px
  padding: var(--size-14);
}
.padding-16 {
	--size-16: 4rem; // 64px
  padding: var(--size-16);
}
.padding-20 {
	--size-20: 5rem; // 80px
  padding: var(--size-20);
}
.padding-24 {
	--size-24: 6rem; // 96px
  padding: var(--size-24);
}
.padding-28 {
	--size-28: 7rem; // 112px
  padding: var(--size-28);
}
.padding-32 {
	--size-32: 8rem; // 128px
  padding: var(--size-32);
}
.padding-36 {
	--size-36: 9rem; // 144px
  padding: var(--size-36);
}
.padding-40 {
	--size-40: 10rem; // 160px
  padding: var(--size-40);
}
.padding-44 {
	--size-44: 11rem; // 176px
  padding: var(--size-44);
}
.padding-48 {
	--size-48: 12rem; // 192px
  padding: var(--size-48);
}
.padding-52 {
	--size-52: 13rem; // 208px
  padding: var(--size-52);
}
.padding-56 {
	--size-56: 14rem; // 224px
  padding: var(--size-56);
}
.padding-60 {
	--size-60: 15rem; // 240px
  padding: var(--size-60);
}
.padding-64 {
	--size-64: 16rem; // 256px
  padding: var(--size-64);
}
.padding-72 {
	--size-72: 18rem; // 288px
  padding: var(--size-72);
}
.padding-80 {
	--size-80: 20rem; // 320px
  padding: var(--size-80);
}
.padding-96 {
	--size-96: 24rem; // 384px
  padding: var(--size-96);
}