.padding-0y {
  --size-0: 0; // 0px
	padding-top: var(--size-0);
  padding-bottom: var(--size-0);
}
.padding-0_5y {
  --size-0_5: 0.125rem; // 2px
	padding-top: var(--size-0_5);
  padding-bottom: var(--size-0_5);
}
.padding-1y {
	--size-1: 0.25rem; // 4px
  padding-top: var(--size-1);
  padding-bottom: var(--size-1);
}
.padding-1_5y {
  --size-1_5: 0.375rem; // 6px
	padding-top: var(--size-1_5);
  padding-bottom: var(--size-1_5);
}
.padding-2y {
  --size-2: 0.5rem; // 8px
	padding-top: var(--size-2);
  padding-bottom: var(--size-2);
}
.padding-2_5y {
  --size-2_5: 0.625rem; // 10px
	padding-top: var(--size-2_5);
  padding-bottom: var(--size-2_5);
}
.padding-3y {
  --size-3: 0.75rem; // 12px
	padding-top: var(--size-3);
  padding-bottom: var(--size-3);
}
.padding-3_5y {
	--size-3_5: 0.875rem; // 14px
  padding-top: var(--size-3_5);
  padding-bottom: var(--size-3_5);
}
.padding-4y {
  --size-4: 1rem; // 16px
	padding-top: var(--size-4);
  padding-bottom: var(--size-4);
}
.padding-5y {
	--size-5: 1.25rem; // 20px
  padding-top: var(--size-5);
  padding-bottom: var(--size-5);
}
.padding-6y {
	--size-6: 1.5rem; // 24px
  padding-top: var(--size-6);
  padding-bottom: var(--size-6);
}
.padding-7y {
	--size-7:  1.75rem; // 28px
  padding-top: var(--size-7);
  padding-bottom: var(--size-7);
}
.padding-8y {
	--size-8: 2rem; // 32px
  padding-top: var(--size-8);
  padding-bottom: var(--size-8);
}
.padding-9y {
	--size-9: 2.25rem; // 36px
  padding-top: var(--size-9);
  padding-bottom: var(--size-9);
}
.padding-10y {
	--size-10: 2.5rem; // 40px
  padding-top: var(--size-10);
  padding-bottom: var(--size-10);
}
.padding-11y {
	--size-11: 2.75rem; // 44px
  padding-top: var(--size-11);
  padding-bottom: var(--size-11);
}
.padding-12y {
	--size-12: 3rem; // 48px
  padding-top: var(--size-12);
  padding-bottom: var(--size-12);
}
.padding-14y {
	--size-14: 3.5rem; // 56px
  padding-top: var(--size-14);
  padding-bottom: var(--size-14);
}
.padding-16y {
	--size-16: 4rem; // 64px
  padding-top: var(--size-16);
  padding-bottom: var(--size-16);
}
.padding-20y {
	--size-20: 5rem; // 80px
  padding-top: var(--size-20);
  padding-bottom: var(--size-20);
}
.padding-24y {
	--size-24: 6rem; // 96px
  padding-top: var(--size-24);
  padding-bottom: var(--size-24);
}
.padding-28y {
	--size-28: 7rem; // 112px
  padding-top: var(--size-28);
  padding-bottom: var(--size-28);
}
.padding-32y {
	--size-32: 8rem; // 128px
  padding-top: var(--size-32);
  padding-bottom: var(--size-32);
}
.padding-36y {
	--size-36: 9rem; // 144px
  padding-top: var(--size-36);
  padding-bottom: var(--size-36);
}
.padding-40y {
	--size-40: 10rem; // 160px
  padding-top: var(--size-40);
  padding-bottom: var(--size-40);
}
.padding-44y {
	--size-44: 11rem; // 176px
  padding-top: var(--size-44);
  padding-bottom: var(--size-44);
}
.padding-48y {
	--size-48: 12rem; // 192px
  padding-top: var(--size-48);
  padding-bottom: var(--size-48);
}
.padding-52y {
	--size-52: 13rem; // 208px
  padding-top: var(--size-52);
  padding-bottom: var(--size-52);
}
.padding-56y {
	--size-56: 14rem; // 224px
  padding-top: var(--size-56);
  padding-bottom: var(--size-56);
}
.padding-60y {
	--size-60: 15rem; // 240px
  padding-top: var(--size-60);
  padding-bottom: var(--size-60);
}
.padding-64y {
	--size-64: 16rem; // 256px
  padding-top: var(--size-64);
  padding-bottom: var(--size-64);
}
.padding-72y {
	--size-72: 18rem; // 288px
  padding-top: var(--size-72);
  padding-bottom: var(--size-72);
}
.padding-80y {
	--size-80: 20rem; // 320px
  padding-top: var(--size-80);
  padding-bottom: var(--size-80);
}
.padding-96y {
	--size-96: 24rem; // 384px
  padding-top: var(--size-96);
  padding-bottom: var(--size-96);
}